.registration {
    position: fixed;
    inset: 0px;
    width: 12rem;
    height: 5rem;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto;
  }

  canvas {
    border: 2px solid rgb(138, 137, 137);
    /* background-color: gray; */
  
  }
  .signUptext{
    color:rgba(60, 105, 169, 1);
    
  }
  .resendOTP{
    color:rgba(147, 54, 54, 1);
    cursor: pointer;
    font-size: 10px;
    
  }

